/* Scoll bar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 115, 0, 0.826); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

/* Main */
#main {
    background: url("../img/backGroup.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
#header {}

/* Menu */
#offcanvasExample {
    background: url("../img/backGroupNav.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
    padding: 0 25px;
}

/* Container */
#container {}

/* Footer */
#footer {
    margin-top: 100px;
    color: #000;
    background-color: #fff;
}

/* View */
.ui-view {
    margin-top: 70px;
    height: 700px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.368);
    animation: animationPanel 1s;
}
.tran-parent {
    background-color: rgba(240, 248, 255, 0) !important;
    color: #fff !important;
    border-bottom-color: #fff;
}

@keyframes animationPanel {
    from {
        opacity: .3;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}